# ===== AIRFLOW =====
# User ID for Airflow containers. Keep consistent to avoid permission issues on mounted volumes.
AIRFLOW_UID=50000

# Directory where Airflow project lives (DAGs, logs, plugins)
AIRFLOW_PROJ_DIR=./airflow

# Airflow Docker image to use
AIRFLOW_IMAGE_NAME=apache/airflow:2.10.5-python3.12

# Fernet key for Airflow, used for encrypting connections and variables
AIRFLOW__CORE__FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=

# Airflow Web UI credentials
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin

# ===== POSTGRES DWH =====
# PostgreSQL image for data warehouse
DWH_POSTGRES_IMAGE_NAME=postgres:13

# PostgreSQL credentials for DWH
DWH_POSTGRES_USER=postgres
DWH_POSTGRES_PASSWORD=postgres
DWH_POSTGRES_DB=crypto_dwh
DWH_POSTGRES_PORT=5433  # Exposed port for host access

# ===== POSTGRES AIRFLOW =====
# PostgreSQL for Airflow metadata DB
AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=airflow
AIRFLOW_POSTGRES_DB=airflow

# ===== MINIO =====
# MinIO Docker image
MINIO_IMAGE_NAME=minio/minio:RELEASE.2025-02-18T16-25-55Z

# MinIO admin credentials
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# S3 keys for dbt / Airflow / scripts
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# ===== SUPERSET =====
# Superset Docker image
SUPERSET_IMAGE_NAME=apache/superset:6.0.0

# Superset secret key (for Flask session encryption)
SUPERSET_SECRET_KEY=apache-superset-secret-key-admin

# Superset admin user credentials
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_EMAIL=admin@example.com

# ===== DBT =====
# DBT image (Python slim)
DBT_IMAGE_NAME=python:3.12-slim

# DBT connection to DWH
DBT_POSTGRES_HOST=postgres-dwh
DBT_POSTGRES_PORT=5432
DBT_POSTGRES_USER=postgres
DBT_POSTGRES_PASSWORD=postgres
DBT_POSTGRES_DB=crypto_dwh

# ===== API =====
# CoinGecko API key
COINGECKO_API_KEY=demo-api-key