# Docker
data/
!data/README.md
.env
*.env.local
docker-compose.override.yml
.dockerignore
Dockerfile
docker-compose.*.yml
!docker-compose.yml

# Airflow
airflow/logs/
airflow/airflow.cfg
airflow/webserver_config.py

# PostgreSQL
postgres_data/

# Superset
superset_data/
apache-superset-create-admin-user.txt

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/

# dbt
dbt/target/
dbt/logs/
dbt/.dbt/

# Логи
*.log
!airflow/logs/

# Временные файлы
temp/
tmp/
*.tmp
*.temp
test_data/

# MiniO
/minio/data/
/minio/.minio.sys/
/minio/prod